*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.top_nevbar {
    display: flex;
    text-align: center;
}
.logo,
img {
    width: 100px;
    display: inline;
}

.menu,
.left_nevbar {
    display: flex;
    justify-content: space-around;
}